* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: 'ChevinPro-Light';
	src: url('../fonts/ChevinPro-Light.eot');
	src: url('../fonts/ChevinPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Light.woff') format('woff'),
		url('../fonts/ChevinPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-DemiBold';
	src: url('../fonts/ChevinPro-DemiBold.eot');
	src: url('../fonts/ChevinPro-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-DemiBold.woff') format('woff'),
		url('../fonts/ChevinPro-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-Thin';
	src: url('../fonts/ChevinPro-Thin.eot');
	src: url('../fonts/ChevinPro-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Thin.woff') format('woff'),
		url('../fonts/ChevinPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-ExtraBold';
	src: url('../fonts/ChevinPro-ExtraBold.eot');
	src: url('../fonts/ChevinPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-ExtraBold.woff') format('woff'),
		url('../fonts/ChevinPro-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ChevinPro-Medium';
	src: url('../fonts/ChevinPro-Medium.eot');
	src: url('../fonts/ChevinPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ChevinPro-Medium.woff') format('woff'),
		url('../fonts/ChevinPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

.page-header {
  display: flex;
  width: 100%;
  min-height: 660px;
  height: 100vh;
  margin-bottom: 120px;
}

.page-header__bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  background: url('../img/head_bg.jpg') no-repeat center / cover;
}

.page-header__logo {
  width: 280px;
  height: 280px;
  background: url('../img/logo.png') no-repeat center;
  background-size: contain;
  z-index: 5;
}

.page-header__text {
  width: 50%;
  padding: 0 54px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.page-header__text-phone {
  display: none;
}

.page-header__text-min {
  margin-bottom: 18px;
  opacity: 0.5;
  font-family: 'ChevinPro-Light';
  font-size: 17px;
  line-height: 1.41;
}

.page-header__text-title {
  margin-bottom: 42px;
  font-family: 'ChevinPro-Thin';
  font-size: 42px;
  line-height: 1.1;

}

.page-header__text-title-bold {
  font-family: 'ChevinPro-Thin';
  font-weight: bold;
}

.btn {
  padding: 22px 24px 20px;
  background: #00ABE8;
  box-shadow: 0px 0px 0px #00ABE8;
  border-radius: 8px;
  text-decoration: none;
  font-family: "ChevinPro-DemiBold";
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1.1px;
  color: #FFFFFF;
  cursor: pointer;
}

.page-header__text-management-btn {
  margin-right: 24px;
}

.page-header__text-management-detail {
  font-family: 'ChevinPro-DemiBold';
  font-size: 13px;
  color: #00abe8;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .page-header {
    width: 100%;
    min-height: 447px;
    padding: 0;
    margin-bottom: 54px;
  }

  .page-header__bg {
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 447px;
    padding: 0 4%;
    padding-top: 30px;
    background-image: url('../img/head_bg_mobile.jpg');
    background-size: cover;
  }

  .page-header__text-title br {
    display: none;
  }

  .page-header__text-title-bold {
    display: block;
  }

  .page-header__logo {
    width: 84px;
    height: 84px;
    margin-bottom: 16px;
  }

  .page-header__text {
    display: none;
  }

  .page-header__text-phone {
    display: block;
    text-align: center;
    font-family: 'ChevinPro-Thin';
    font-size: 24px;
    line-height: 1.25;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  .page-header__text-min {
    margin-bottom: 6px;
    font-family: 'ChevinPro-Light';
    opacity: 1;
    font-size: 17px;
    line-height: 1.41;
    color: #ffffff;
  }

  .page-header__text-title {
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 18px;
  }

  .btn {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    text-shadow: none;
    text-align: center;
    vertical-align: middle;
    max-width: 320px;
  }

  .page-header__text-management-btn {
     margin-right: 0;
    margin-bottom: 18px;
  }

  .page-header__text-management-detail {
    display: block;
    margin-bottom: 29px;
    color: #ffffff;
  }
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 0 60px;
}

.features {
  margin-bottom: 24px;
}

.features__title {
  margin: 0 auto;
  margin-bottom: 60px;
  font-family: "ChevinPro-Thin";
  width: 403px;
  height: 46px;
  font-size: 42px;
  text-align: center;
  color: #333333;
}

.features__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features__item {
  width: 270px;
  margin-bottom: 66px;
}

.item-icon {
  margin: 0 auto;
  margin-bottom: 18px;
  width: 102px;
  height: 102px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.item-icon--1 {
  background-image: url('../img/why-1.png');
}

.item-icon--2 {
  background-image: url('../img/why-2.png');
}

.item-icon--3 {
  background-image: url('../img/why-3.png');
}

.item-icon--4 {
  background-image: url('../img/why-4.png');
}

.item-icon--5 {
  background-image: url('../img/why-5.png');
}

.item-icon--6 {
  background-image: url('../img/why-6.png');
}

.item-icon--7 {
  background-image: url('../img/why-7.png');
}

.item-icon--8 {
  background-image: url('../img/why-8.png');
}

.item-icon--9 {
  background-image: url('../img/why-9.png');
}

.item-icon--10 {
  background-image: url('../img/why-10.png');
}

.item-icon--11 {
  background-image: url('../img/why-11.png');
}

.item-icon--12 {
  background-image: url('../img/why-12.png');
}

.item-text {
  text-align: center;
  font-family: "ChevinPro-Light";
  font-size: 17px;
  line-height: 1.41;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 4%;
  }

  .features {
    width: 100%
  }

  .features__title {
    width: 100%;
    margin-bottom: 48px;
    font-family: "ChevinPro-Light";
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }

  .features__items {
    flex-direction: column;
    align-items: center;
  }

  .features__item {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 42px;
  }

  .item-icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    margin: 0;
    margin-right: 12px;
  }

  .item-text {
    text-align: left;
  }
}

.responsibility-requirement {
  min-height: 502px;
  margin-bottom: 84px;
  border-top: 1px solid #dddfe0;
  border-bottom: 1px solid #dddfe0;
}

.responsibility-requirement-container {
  display: flex;
}

.responsibility {
  width: 459px;
  padding-top: 60px;
  min-height:  502px;
}

.responsibility__title {
  margin-bottom: 36px;
  padding-right: 121px;
  text-align: right;
  font-family: 'ChevinPro-Thin';
  font-size: 42px;
  line-height: 1.1;
  color: #333333;
}

.responsibility__list {
  width: 377px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.responsibility__item {
  position: relative;
  padding-left: 23px;
  margin-bottom: 18px;
  font-family: 'ChevinPro-Light';
  font-size: 17px;
  line-height: 1.41;
}

.responsibility__item span {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #00abe8;
  border-radius: 50%;
}

.requirement {
  padding-top: 60px;
  min-height:  502px;
  padding-left: 80px;
  border-left: 1px solid #dddfe0;
}

.requirement__title {
  margin-bottom: 36px;
  text-align: center;
  font-family: 'ChevinPro-Thin';
  font-size: 42px;
  line-height: 1.1;
  color: #333333;
}

.requirement__list {
  width: 377px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.requirement__item {
  position: relative;
  padding-left: 23px;
  margin-bottom: 18px;
  font-family: 'ChevinPro-Light';
  font-size: 17px;
  line-height: 1.41;
}

.requirement__item span {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #00abe8;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .responsibility-requirement {
    min-height: auto;
    margin-bottom: 60px;
    border-top: none;
    border-bottom: none;
  }
  .responsibility-requirement-container {
    display: block;
  }

  .responsibility {
    width: 100%;
    min-height: auto;
    margin-bottom: 60px;
    padding: 0;

  }

  .responsibility__title {
    margin-bottom: 24px;
    padding: 0;
    font-family: 'ChevinPro-Light';
    font-size: 24px;
    text-align: center;
  }

  .responsibility__list {
    width: 100%;
  }

  .requirement {
    padding: 0;
    min-height:  auto;
    margin-bottom: 72px;
    border-left: none;
  }

  .requirement__title {
    margin-bottom: 24px;
    padding: 0;
    font-family: 'ChevinPro-Light';
    font-size: 24px;
    text-align: center;
  }

  .requirement__list {
    width: 100%;
  }
}

.condition {
  margin-bottom: 140px;
}

.condition__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.condition__title {
  width: 100%;
  margin-bottom: 50px;
  font-family: "ChevinPro-Thin";
  text-align: center;
  font-size: 42px;
  line-height: 1.1;
  color: #333333;
}

.condition__icon {
  position: relative;
  width: 383px;
  height: 383px;
  background: url('../img/conditions.png') no-repeat center;
  background-size: cover;
}

.condition__list {
  margin: 0;
  padding: 0;
  width: 378px;
  list-style: none;
}

.condition__item {
  position: relative;
  padding-left: 23px;
  margin-bottom: 18px;
  font-family: 'ChevinPro-Light';
  font-size: 17px;
  line-height: 1.41;
}

.condition__item span {
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #00abe8;
  border-radius: 50%;
}


@media (max-width: 900px) {
  .condition__container {
    flex-flow: column nowrap;
    align-items: center;
  }

  .condition__icon {
    margin-bottom: 24px;
  }
}

@media (max-width: 768px) {
  .condition {
    margin-bottom: 72px;
  }

  .condition__container {
    display: block;
    padding: 0;
  }

  .condition__title {
    margin-bottom: 24px;
    padding: 0;
    font-family: 'ChevinPro-Light';
    font-size: 24px;
    text-align: center;
  }

  .condition__icon {
    margin: 0 auto;
    background: url('../img/conditions-mobile.png') no-repeat center;
    background-size: contain;

    width: 100%;
    height: 46vw;
  }

  .condition__list {
    width: 100%;
    padding: 0 4%;
  }

}

.how-work {
  margin-bottom: 132px;
}

.how-work__title {
  width: 100%;
  margin-bottom: 76px;
  font-family: "ChevinPro-Thin";
  text-align: center;
  font-size: 42px;
  line-height: 1.1;
  color: #333333;
}

.how-work__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.how-work__item {
  position: relative;
  width: 270px;
  min-height: 200px;
  padding: 0 18px;
  padding-top: 30px;
  font-family: 'ChevinPro-Light';
  border: solid 1px #00abe8;
  border-radius: 8px;
}

.how-work__item:first-child::before,
.how-work__item:nth-child(2)::before {
  content: "";
  position: absolute;
  right: -46px;
  top: 92px;
  width: 38px;
  height: 2px;
  background: url('../img/dots.png') no-repeat center;
  background-size: contain;
}

.how-work__item--ok {
  border: solid 1px #77c42d;
}

.how-work__item--ok::after {
  content: '';
  position: absolute;
  right: 24.8px;
  bottom: 24px;
  display: block;
  width: 84.3px;
  height: 65.2px;
  background: url('../img/ok.png') no-repeat center;
  background-size: contain;
}

.how-work__item-title {
  margin-bottom: 12px;
  font-size: 30px;
  line-height: 1.2;
}

.how-work__item-text {
  font-size: 17px;
}

@media (max-width: 1024px) {

  .how-work {
    margin-bottom: 22px;
  }

  .how-work__title {
    margin-bottom: 30px;
    padding: 0;
    font-family: 'ChevinPro-Light';
    font-size: 24px;
    text-align: center;
  }

  .how-work__items {
    flex-direction: column;
  }
  .how-work__item {
    margin: 0 auto;
    width: 284px;
    min-height: 156px;
    padding: 18px;
    margin-bottom: 54px;
  }

  .how-work__item:first-child::before {
    right: 122px;
    top: 180px;
    transform: rotate(90deg);
  }

  .how-work__item:nth-child(2)::before {
    right: 122px;
    top: 186px;
    transform: rotate(90deg);
  }

  .how-work__item--ok::after {
    right: 12.8px;
    bottom: 16px;
  }

  .how-work__item--ok .how-work__item-title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 1.5;
  }
}

.join {
  margin-bottom: 132px;
  text-align: center;
}

.join__title {
  margin-bottom: 42px;
  text-align: center;
  font-family: "ChevinPro-Thin";
  font-size: 42px;
  line-height: 1.1;
}

.join__btn {
  display: inline-block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .join {
    margin-bottom: 77px;
  }

  .join__title {
    margin-bottom: 30px;
    padding: 0;
    font-family: 'ChevinPro-Light';
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
  }

  .join__btn {
    width: 100%;
    background: #00abe8;
    color: #ffffff;
  }
}

.info {
  padding-bottom: 40px;
  font-family: "ChevinPro-Light";
  font-size: 17px;
  text-align: center;
  color: #9299a2;
}

.info__text {
  width: 458px;
  margin: 0 auto;
}

.info__text .info-br {
  display: none;
}

@media (max-width: 768px) {
  .info {
    font-size: 14px;
  }

  .info__text {
    width: 100%;
  }

  .info__text .info-br {
    display: block;
  }
}

.top-line {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  background: #00abe8;

  transform: translateY(-100%);
  transition: 0.2s transform ease;
  will-change: transform;
}

.top-line.sticky {
  transform: translateY(0);
}

.top-line__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 72px;
}

.top-line__logo {
  width: 23px;
  height: 36.28px;
  background: url('../img/logo_small.png') no-repeat center;
  background-size: contain;
}

.top-line__text {
  font-family: 'ChevinPro-Light';
  font-size: 30px;
  color: white;
}

.top-line__btn {
  padding: 18px 20px 14px;
  background: white;
  color: #333333;
}


@media (max-width: 960px) {
  .top-line {
    display: none;
  }
}

.down-arrow {
  display: inline-block;
  position: relative;
  width: 200px;
  text-align: center;
  font-size: 1em;
}

.down-arrow:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 0;
  border-top: 20px solid #00ABE8;
  border-right: 100px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 100px solid transparent;
  transition: all 1s;
}